.flex-container{
    border: 2px solid blue;
    padding: 1em;
    width: 400px;
}

.flex-item{
    background: #eee;
    padding: 1.5em;
    border: 2px solid #000;
}
.flex-container.nowrap{
    display: flex;
    flex-wrap: nowrap; 
}
.flex-container.wrap{   
    display: flex; 
    flex-wrap: wrap;
}

.flex-container.wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}
