@media (max-width: 600px)
{

.blog-post-card3-blog-post-card{
    max-width: initial;
    flex-direction: column;
}

.blog-post-card3-image{
    display: block;
    width: 100%;
    height: auto;
}

.home-blog{
    padding: 2em;
}

.home-stats{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 3em;
}

.home-stat{
  flex: 1 1 40%;
}

.home-container06{
  flex-direction: column;
}

.home-container07{
  display: block;
  text-align: center;
  padding-bottom: 3em;
}

.home-container08{
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

.home-container09{
  margin-bottom: 2em;
}
.home-container09,
.home-container10{
 height: auto;
 width: 100%;
 padding: 2em;
 max-width: initial;
}

.home-header{
  height: auto;
  display: block;
  padding-top: 0.7em;
}
.navigation-links-nav{
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  
}
.home-nav{
  padding: 0;
}

.navigation-links-text,
.navigation-links-text1{
  display: block;
  margin: 0;
  text-align: center;
}


}