@media (max-width: 600px)
{

.blog-post-card3-blog-post-card{
    max-width: initial;
    flex-direction: column;
}

.blog-post-card3-image{
    display: block;
    width: 100%;
    height: auto;
}

.home-blog{
    padding: 2em;
}

.home-stats{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 3em;
}

.home-stat{
  flex: 1 1 40%;
}

.home-container06{
  flex-direction: column;
}

.home-container07{
  display: block;
  text-align: center;
  padding-bottom: 3em;
}

}