.flex-container{
    border: 2px solid blue;
    padding: 1em;
    width: 500px;
    align-items: flex-start;
    display: flex;
    height: 200px;
}

.flex-item{
    background: #eee;
    padding: 1.5em;
    border: 2px solid #000;
    flex-basis: 300px;
}

.flex-container.one .flex-item{
    flex-shrink: 1;

}

.flex-container.zero .flex-item{
    flex-shrink: 0;
}

.flex-container.second .flex-item:nth-child(1){
    flex-shrink: 0;
}
.flex-container.second .flex-item:nth-child(2){
    flex-shrink: 1;
}
.flex-container.second .flex-item:nth-child(3){
    flex-shrink: 0;
}